<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIaKR1x5pP4na7V8coNoZx-N_q47M6AHY</string>
	<key>GCM_SENDER_ID</key>
	<string>13832953807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xkeso.baopvestor</string>
	<key>PROJECT_ID</key>
	<string>wylpdko1</string>
	<key>STORAGE_BUCKET</key>
	<string>wylpdko1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13832953807:ios:5319c0c1252c06f000bcba</string>
</dict>
</plist>